<div class="page_wrap">
  <div class="copied">
    <p>COPIED!</p>
  </div>
  <div class="sidebar">
    <div class="sidebar_position">
      <div class="logo">
        <h1>RGBYK</h1>
        <h4>color palettes</h4>
      </div>
      <div class="instruction">
        <h4>select a color to copy its hex value</h4>
      </div>
      <% if user_signed_in? %>
        <li><%= link_to "Log Out", destroy_user_session_path, method: :delete %></li>
      <% else %>
        <li><%= link_to "Log In", new_user_session_path %></li>
      <% end %>
      <div class="foot">
        <h5>created by</h5>
        <h6> <a href="#">Buy &middot; Woodrow &middot; Sell</a></h6>
      </div>
    </div>
  </div>
  <div class="main_content">
    <h1>Latest Palettes</h1>
    <div class="palette_wrapper">
      <h2>Nautical</h2>
      <div class="box_wrapper">
        <div class="palette_box">
          <div data-clipboard-text="#FAFAFA" class="box a"></div>
          <h3>#FAFAFA</h3>
        </div>
        <div class="palette_box">
          <div data-clipboard-text="#1DE5D0" class="box b"></div>
          <h3>#1DE5D0</h3>
        </div>
        <div class="palette_box">
          <div data-clipboard-text="#BE1F2D" class="box c"></div>
          <h3>#BE1F2D</h3>
        </div>
        <div class="palette_box">
          <div data-clipboard-text="#2B2935" class="box d"></div>
          <h3>#2B2935</h3>
        </div>
      </div>
    </div>
    <div class="palette_wrapper">
      <h2>New Palette  </h2>
      <div class="box_wrapper">
        <div class="palette_box">
          <div data-clipboard-text="#050505" class="box e"></div>
          <h3>#050505</h3>
        </div>
        <div class="palette_box">
          <div data-clipboard-text="#E2481A" class="box f"></div>
          <h3>#E2481A</h3>
        </div>
        <div class="palette_box">
          <div data-clipboard-text="#41B8E0" class="box g"></div>
          <h3>#41B8E0</h3>
        </div>
        <div class="palette_box">
          <div data-clipboard-text="#D0D6CA" class="box h"></div>
          <h3>#D0D6CA</h3>
        </div>
      </div>
    </div>
  </div>
</div>
