.main_content
  margin-top: 100px
  margin-left: auto
  margin-right: auto
  h1
    font:
      size: 1.4em
      weight: 400
    text-align: center
    margin-bottom: 50px
  .palette_wrapper
    margin: 0 auto 50px auto
    width: auto
    .edit_palette
      text-align: center
      margin-bottom: 17px
      h2
        font-size: 1.4em
        color: $grey
        text-align: center
        position: relative
        margin-bottom: 0
      a
        color: $grey
        transition: ease-in-out .2s
        &:hover
          color: darken($grey, 50%)

    .box_wrapper
      display: flex
      justify-content: center
      align-items: center
      .palette_box
        width: 175px
        height: auto
        margin: 0
        .box
          height: 100px
          width: 100%
          cursor: pointer
          transition: ease-in-out .2s
          background-color: red
          &:active
            background-color: lighten($grey, 10%)
        h3
          margin-top: 10px
          text-align: center
          text-transform: uppercase

@media only screen and (max-width: 1250px)
  .main_content
    margin-top: 150px
    width: 80vw
    .palette_wrapper
      h2
        z-index: -1

@media only screen and (max-width: 768px)
  .main_content
    margin-top: 175px
    max-width: 80vw
    h3
      font-size: 1.1em
    .palette_wrapper
      .box_wrapper
        .palette_box
          .box
            height: 60px

@media only screen and (max-width: 568px)
  .main_content
    margin-top: 150px
    max-width: 80vw
    h3
      font-size: .7em
