<div class="sidebar">
  <div class="sidebar_position">
    <div class="logo">
      <a href="/">
        <h1>RGBYK</h1>
        <h4>color palettes</h4>
      </a>
    </div>
    <div class="instruction">
      <h4>select a color to copy its hex value</h4>
    </div>
    <% if user_signed_in? %>
      <div class="user_btns">
        <li><%= link_to "Log Out", destroy_user_session_path, method: :delete %></li>
        <li><%= link_to "New Palette", new_palette_path %></li>
      </div>
    <% end %>
    <div class="foot">
      <h5>created by</h5>
      <h6> <a href="http://www.buywoodrowsell.com" target="_blank">Buy &middot; Woodrow &middot; Sell</a></h6>
    </div>
  </div>
</div>
