<!DOCTYPE html>
<html>
<head>
  <title>Rgbyk</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

<script src="/javascripts/jquery-2.1.4.min.js"></script>
<script src="/javascripts/functions.js"></script>
<script src="/javascripts/clipboard.min.js"></script>
<script>var clipboard = new Clipboard('.box');</scriptavascripts
</body>
</html>
